<% include ../layouts/header %>
<% include ../layouts/menu  %>

<div class="container">
  <h3>Editar Produto</h3>
  <br>
  <div id="row">

    <div class="col-sm-2"></div>
    <div class="col-sm-6">

      <%if(validacao.length>0){%>
      <div class="alert alert-danger">
        <strong>Atenção!</strong>
        <ul>
          <% for(var i=0; i < validacao.length; i++){ %>
          <li>
            <%=validacao[i].msg%>
          </li>
          <% } %>

        </ul>
      </div>


      <% }%>

      <br><br>
      <form action="/edit/<%=produto[0].id%>"  method="post" >
        <div class="form-group">
          <label for="email">Titulo:</label>
          <input type="text" class="form-control" id="titulo" name="titulo" value="<%=produto[0].titulo%>">
        </div>
        <div class="form-group">
          <label for="descricao">Descrição:</label>
          <input type="text" class="form-control" id="descricao" name="descricao" value="<%=produto[0].descricao%>">
        </div>
        <div class="form-group ">
          <label for="preco">Preço:</label>
          <input type="number" class="form-control" id="preco" name="preco" style="width: 30%" value="<%=produto[0].preco%>" step="0.010">
        </div>

        <div class="form-group ">
            <label for="quantidade">quantidade:</label>
            <input type="number" class="form-control" id="quantidade" name="quantidade" style="width: 20%" value="<%=produto[0].quantidade%>" >
          </div>
        <br>
       
        
        <button type="submit" class="btn btn-default">Editar Produto</button>
      </form>

    </div>
    <div class="col-sm-4"></div>
  </div>
</div>

<% include ../layouts/footer %>