<% include ../layouts/header %>
<% include ../layouts/menu  %>

<div class="container">
  <h3>Gerenciar Produto</h3>
  <br><br>
  
  <div id="row">
    
    <div class="col-sm-6"></div>
    <div class="col-sm-4"></div>
    <div class="col-sm-2">
      
      <a href="/add"> 
        <button type="button" class="btn btn-info btn-sm"> inserir produto</button>
      </a>
      
    </div>
    
    
  </div>
  <br><br><br>  

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Titulo</th>
        <th>Descrição</th>
        <th>Preço</th>
        <th>Operações</th>
      </tr>
    </thead>
    <tbody>
      
      <% for(var i=0; i < produtos.length; i++) { %>
      
      <tr>
        <td><%= produtos[i].id %></td>
        <td><%= produtos[i].titulo %></td>
        <td><%= produtos[i].preco %></td>
        <td>
          <a href="/edit/<%= produtos[i].id %>">  <button type="button" class="btn btn-primary btn-sm">Editar</button></a>
          <a href="/delete/<%= produtos[i].id %>"> <button type="button" class="btn btn-danger btn-sm" onClick="return confirm('Are you sure you want to delete?')">Excluir</button></a>
        
        </td>
        
      </tr>

      <% } %>
    
    </tbody>
  </table> 

  
</div>

<% include ../layouts/footer %>