<% include ../layouts/header %>
<% include ../layouts/menu  %>

<div class="container">
  <h3>Editar usuario</h3>
  <br>
  <div id="row">

    <div class="col-sm-2"></div>
    <div class="col-sm-6">

      <%if(validacao.length>0){%>
      <div class="alert alert-danger">
        <strong>Atenção!</strong>
        <ul>
          <% for(var i=0; i < validacao.length; i++){ %>
          <li>
            <%=validacao[i].msg%>
          </li>
          <% } %>

        </ul>
      </div>


      <% }%>

      <br><br>
      <form action="/usuario/edit/<%=usuario[0].id%>"  method="post" >
        <div class="form-group">
          <label for="nome">Nome:</label>
          <input type="text" class="form-control" id="nome" name="nome" value="<%=usuario[0].nome%>">
        </div>
        <div class="form-group">
          <label for="login">login:</label>
          <input type="text" class="form-control" id="login" name="login" value="<%=usuario[0].login%>">
        </div>
        <div class="form-group ">
          <label for="preco">senha:</label>
          <input type="password" class="form-control" id="senha" name="senha" style="width: 30%" value="<%=usuario[0].senha%>">
        </div>
               
        <button type="submit" class="btn btn-default">Editar usuario</button>
      </form>

    </div>
    <div class="col-sm-4"></div>
  </div>
</div>

<% include ../layouts/footer %>