<% include ../layouts/header %>
<% include ../layouts/menu  %>

<div class="container">
  <h3>Gerenciar usuario</h3>
  <br><br>
  
  <div id="row">
    
    <div class="col-sm-6"></div>
    <div class="col-sm-4"></div>
    <div class="col-sm-2">
      
      <a href="/usuario/add"> 
        <button type="button" class="btn btn-info btn-sm"> inserir usuario</button>
      </a>
      
    </div>
    
    
  </div>
  <br><br><br>  

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Login</th>
        <th>Senha</th>
        <th>Operações</th>
      </tr>
    </thead>
    <tbody>
      
      <% for(var i=0; i < usuarios.length; i++) { %>
      
      <tr>
        <td><%= usuarios[i].nome %></td>
        <td><%= usuarios[i].login %></td>
        <td><%= usuarios[i].senha %></td>
        <td>
          <a href="/usuario/edit/<%= usuarios[i].id %>">  <button type="button" class="btn btn-primary btn-sm">Editar</button></a>
          <a href="/usuario/delete/<%= usuarios[i].id %>"> <button type="button" class="btn btn-danger btn-sm" onClick="return confirm('Are you sure you want to delete?')">Excluir</button></a>
        </td>
      </tr>

      <% } %>
    
    </tbody>
  </table> 

  
</div>

<% include ../layouts/footer %>