<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <title>Acesso PDV </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">

  <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="container">
    <div id="login-box">
      <div class="logo">
        <img src="/image/venda.jpeg" class="img img-responsive img-circle center-block" />
        <h1 class="logo-caption"><span class="tweak">L</span>ogin</h1>
      </div><!-- /.logo -->

      <% if (validacao.length > 0) {%>
      <br><br>
      <div class="alert alert-danger">
        <strong>Atenção!</strong>
        <ul>
          <% for(var i=0; i < validacao.length; i++){ %>

          <li>
            <%=validacao[i].msg %>
          </li>

          <% } %>
        </ul>
      </div>

      <% } %>


      <form action="/autenticar" method="POST">
        <div class="controls">
          <input type="text" name="login" placeholder="login" class="form-control" />
         
          <input type="password" name="senha" placeholder="senha" class="form-control" />
          <button type="submit" class="btn btn-default btn-block btn-custom">Acessar</button>
        </div><!-- /.controls -->
      </form>

    </div><!-- /#login-box -->
  </div><!-- /.container -->
  <div id="particles-js"></div>
  <script src="/js/particulas.js"></script>
</body>

</html>