<% include layouts/header %>
<% include layouts/menu  %>

<div class="container">
  <h3>Right Aligned Navbar</h3>
  <p>The navbar-right class is used to right-align navigation bar buttons.</p>
</div>

<% include layouts/footer %>

