<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">ProjetoVenda PDV</a>
      </div>
      <ul class="nav navbar-nav">
        
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="/">Produto <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/produto">Cadastrar produto</a></li>
            
          </ul>
        </li>
        <li><a href="/usuario"> Gerenciar Usuario</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/usuario"><span class="glyphicon glyphicon-user"></span> <%=nomeUser%></a></li>
        <li><a href="/"><span class="glyphicon glyphicon-log-in"></span> Sair</a></li>
      </ul>
    </div>
  </nav>